<section class="hobbies-module">
    <div class="hobbies row">
        <p class="top-head">Enjoyments <i class="fa-solid fa-icons"></i></p>
        <div class="col-4">
            <p class="item">Music</p>
            <i class="fa-solid fa-headphones item-icon"></i>
        </div>
        <div class="col-4">
            <p class="item">Reading</p>
            <i class="fa-solid fa-book-open item-icon"></i>
        </div>
        <div class="col-4">
            <p class="item">Drawing</p>
            <i class="fa-solid fa-pencil item-icon"></i>
        </div>
       
    </div>
</section>