<section class="education-module">
    <div class="education row">
        <p class="top-head">Educational Qualification <i class="fa-solid fa-graduation-cap"></i></p>
        <div class="col-md-4 col-6">
            <p class="course">ME in CSE</p>
            <p class="other-details">Hindustan Institute of Technology</p>
            <p class="other-details">Coimbatore</p>
            <p class="other-details">82%</p>
        </div>
        <div class="col-md-3 col-6">
            <p class="course">BTech in CSE</p>
            <p class="other-details">College of Engineering</p>
            <p class="other-details">Vadakara</p>
            <p class="other-details">71%</p>
        </div>
        <div class="col-md-3 col-6">
            <p class="course">Higher Secondary</p>
            <p class="other-details">Science</p>
            <p class="other-details">89%</p>
        </div>
        <div class="col-md-2 col-6">
            <p class="course">Secondary</p>
            <p class="other-details">93%</p>
        </div>
    </div>
</section>